* [#53 SBL dataset släpps 2024 Strings not Things](https://github.com/salgo60/Svenskaforsamlingar/issues/53)

In [5]:
import requests
import pandas as pd
from io import StringIO

# URL of the file to be fetched
url = "https://filer.riksarkivet.se/registerdata/SBL/csv/SBL_2023.csv"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Use StringIO to read the CSV content into a pandas DataFrame
    csv_content = StringIO(response.text)
    
    # Print the first few lines to inspect the content
    #first_lines = csv_content.getvalue().split('\n')[:5]
    #for line in first_lines:
    #    print(line)
    
    # Reset the StringIO object to start reading from the beginning
    csv_content.seek(0)
    
    # Read the CSV into a DataFrame using the correct delimiter
    df = pd.read_csv(csv_content, delimiter=';')  # Adjust the delimiter if needed

    print("First 5 rows of the DataFrame:")
    print(df.head())  # Display the first 5 rows
    
    print("\nDataFrame info:")
    print(df.info())  # Display concise summary of the DataFrame
    
    print("\nDataFrame description:")
    print(df.describe(include='all'))  # Display summary statistics of the DataFrame

    print("\nColumns in the DataFrame:")
    print(df.columns)  # Display the column names
    
    print("\nData types of each column:")
    print(df.dtypes)  # Display the data types of each column
    

    # Save the DataFrame to a CSV file
    df.to_csv("SBL_2023_local.csv", index=False)
    print("Data has been downloaded, loaded into pandas, and saved as SBL_2023_local.csv")
else:
    print(f"Failed to download file. Status code: {response.status_code}")

First 5 rows of the DataFrame:
   Article id             Svenskt biografiskt lexikon (SBL): URI  \
0        5490  https://sok.riksarkivet.se/sbl/Presentation.as...
1        5491  https://sok.riksarkivet.se/sbl/Presentation.as...
2        5492  https://sok.riksarkivet.se/sbl/Presentation.as...
3        5493  https://sok.riksarkivet.se/sbl/Presentation.as...
4        5494  https://sok.riksarkivet.se/sbl/Presentation.as...

  Type of article  SBL volume number  Page number in volume  Surname  \
0  Family article                1.0                    1.0   Abelin
1  Person article                1.0                    5.0   Abelin
2  Person article                1.0                    1.0   Abelin
3  Person article                1.0                    9.0   Abelin
4  Person article                1.0                   11.0  Abenius

   Given name Gender      Occupation, royal title, rank  \
0       släkt      -                                NaN
1    Gustaf R      m  Arméofficer, Lantförsvarsminister
2   Hjalmar A      m               Läkare (pediatriker)
3  C Rudolf Z      m              Pomolog, Trädgĺrdsman
4   P Wilhelm      m                             Kemist

  Prefix to year of birth  ... Image file 5  Image 5 description  \
0                     NaN  ...          NaN                  NaN
1                     NaN  ...          NaN                  NaN
2                     NaN  ...          NaN                  NaN
3                     NaN  ...          NaN                  NaN
4                     NaN  ...          NaN                  NaN

   Image file 6 Image 6 description Image file 7 Image 7 description  \
0           NaN                 NaN          NaN                 NaN
1           NaN                 NaN          NaN                 NaN
2           NaN                 NaN          NaN                 NaN
3           NaN                 NaN          NaN                 NaN
4           NaN                 NaN          NaN                 NaN

  Image file 8 Image 8 description  Image file 9  Image 9 description
0          NaN                 NaN           NaN                  NaN
1          NaN                 NaN           NaN                  NaN
2          NaN                 NaN           NaN                  NaN
3          NaN                 NaN           NaN                  NaN
4          NaN                 NaN           NaN                  NaN

[5 rows x 47 columns]

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9406 entries, 0 to 9405
Data columns (total 47 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Article id                              9406 non-null   int64
 1   Svenskt biografiskt lexikon (SBL): URI  9406 non-null   object
 2   Type of article                         9406 non-null   object
 3   SBL volume number                       9405 non-null   float64
 4   Page number in volume                   9404 non-null   float64
 5   Surname                                 9406 non-null   object
 6   Given name                              8949 non-null   object
 7   Gender                                  9406 non-null   object
 8   Occupation, royal title, rank           7604 non-null   object
 9   Prefix to year of birth                 53 non-null     object
 10  Year of birth                           7620 non-null   object
 11  Month of birth                          6465 non-null   float64
 12  Day of birth                            6441 non-null   float64
 13  Place of birth                          6692 non-null   object
 14  Comment on place of birth               1581 non-null   object
 15  Place of birth (physical location)      18 non-null     object
 16  Prefix to year of death                 190 non-null    object
 17  Year of death                           7637 non-null   object
 18  Month of death                          6776 non-null   float64
 19  Day of death                            6718 non-null   float64
 20  Place of death                          6811 non-null   object
 21  Comment on place of death               1558 non-null   object
 22  Place of death (physical location)      148 non-null    object
 23  Id of main article                      6 non-null      float64
 24  Curriculum vitae                        8299 non-null   object
 25  Archive                                 6200 non-null   object
 26  Printed works                           6807 non-null   object
 27  Sources                                 9162 non-null   object
 28  Article author                          8788 non-null   object
 29  Image file 1                            6466 non-null   object
 30  Image 1 description                     5881 non-null   object
 31  Image file 2                            234 non-null    object
 32  Image 2 description                     225 non-null    object
 33  Image file 3                            112 non-null    object
 34  Image 3 description                     101 non-null    object
 35  Image file 4                            70 non-null     object
 36  Image 4 description                     65 non-null     object
 37  Image file 5                            49 non-null     object
 38  Image 5 description                     48 non-null     object
 39  Image file 6                            34 non-null     object
 40  Image 6 description                     37 non-null     object
 41  Image file 7                            26 non-null     object
 42  Image 7 description                     27 non-null     object
 43  Image file 8                            24 non-null     object
 44  Image 8 description                     24 non-null     object
 45  Image file 9                            17 non-null     object
 46  Image 9 description                     21 non-null     object
dtypes: float64(7), int64(1), object(39)
memory usage: 3.4+ MB
None

DataFrame description:
          Article id             Svenskt biografiskt lexikon (SBL): URI  \
count    9406.000000                                               9406
unique           NaN                                               9406
top              NaN  https://sok.riksarkivet.se/sbl/Presentation.as...
freq             NaN                                                  1
mean    13691.144057                                                NaN
std      5687.480889                                                NaN
min      5490.000000                                                NaN
25%      9763.500000                                                NaN
50%     13312.500000                                                NaN
75%     16700.750000                                                NaN
max     35169.000000                                                NaN

       Type of article  SBL volume number  Page number in volume  Surname  \
count             9406        9405.000000            9404.000000     9406
unique               2                NaN                    NaN     4708
top     Person article                NaN                    NaN  Nilsson
freq              7652                NaN                    NaN       55
mean               NaN          17.607337             389.032646      NaN
std                NaN           9.339210             229.509881      NaN
min                NaN           1.000000               1.000000      NaN
25%                NaN          10.000000             189.000000      NaN
50%                NaN          18.000000             384.500000      NaN
75%                NaN          25.000000             587.250000      NaN
max                NaN          35.000000             804.000000      NaN

       Given name Gender Occupation, royal title, rank  \
count        8949   9406                          7604
unique       4462      4                          3914
top         släkt      m                   Arméofficer
freq         1425   7066                           144
mean          NaN    NaN                           NaN
std           NaN    NaN                           NaN
min           NaN    NaN                           NaN
25%           NaN    NaN                           NaN
50%           NaN    NaN                           NaN
75%           NaN    NaN                           NaN
max           NaN    NaN                           NaN

       Prefix to year of birth  ...  \
count                       53  ...
unique                      18  ...
top                    omkring  ...
freq                        18  ...
mean                       NaN  ...
std                        NaN  ...
min                        NaN  ...
25%                        NaN  ...
50%                        NaN  ...
75%                        NaN  ...
max                        NaN  ...

                                             Image file 5  \
count                                                  49
unique                                                 49
top     https://sok.riksarkivet.se/sbl/bilder/5601_7_0...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                      Image 5 description  \
count                                                  48
unique                                                 48
top     (von) seth89Johan S (d 1632), ingenjör' Andrie...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                             Image file 6  \
count                                                  34
unique                                                 34
top     https://sok.riksarkivet.se/sbl/bilder/6133_7_0...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                          Image 6 description  \
count                                      37
unique                                     37
top     Torsten Sondén (1893-1953) Privat ägo
freq                                        1
mean                                      NaN
std                                       NaN
min                                       NaN
25%                                       NaN
50%                                       NaN
75%                                       NaN
max                                       NaN

                                             Image file 7  \
count                                                  26
unique                                                 26
top     https://sok.riksarkivet.se/sbl/bilder/6133_8_0...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                      Image 7 description Image file 8  \
count                                                  27           24
unique                                                 27           23
top     Jöns Jönsson (1620-talet) bondeSven Jönsson (d...    godsägare
freq                                                    1            2
mean                                                  NaN          NaN
std                                                   NaN          NaN
min                                                   NaN          NaN
25%                                                   NaN          NaN
50%                                                   NaN          NaN
75%                                                   NaN          NaN
max                                                   NaN          NaN

                                      Image 8 description  \
count                                                  24
unique                                                 24
top     Släkttavla 2Peer R (1544-1604), stĺthĺllarei L...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                             Image file 9  \
count                                                  17
unique                                                 17
top     https://sok.riksarkivet.se/sbl/bilder/6973_8_0...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                      Image 9 description
count                                                  21
unique                                                 21
top     Släkttavla 1 Johan Pedersson R (dl 603), stads...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

[11 rows x 47 columns]

Columns in the DataFrame:
Index(['Article id', 'Svenskt biografiskt lexikon (SBL): URI',
       'Type of article', 'SBL volume number', 'Page number in volume',
       'Surname', 'Given name', 'Gender', 'Occupation, royal title, rank',
       'Prefix to year of birth', 'Year of birth', 'Month of birth',
       'Day of birth', 'Place of birth', 'Comment on place of birth',
       'Place of birth (physical location)', 'Prefix to year of death',
       'Year of death', 'Month of death', 'Day of death', 'Place of death',
       'Comment on place of death', 'Place of death (physical location)',
       'Id of main article', 'Curriculum vitae', 'Archive', 'Printed works',
       'Sources', 'Article author', 'Image file 1', 'Image 1 description',
       'Image file 2', 'Image 2 description', 'Image file 3',
       'Image 3 description', 'Image file 4', 'Image 4 description',
       'Image file 5', 'Image 5 description', 'Image file 6',
       'Image 6 description', 'Image file 7', 'Image 7 description',
       'Image file 8', 'Image 8 description', 'Image file 9',
       'Image 9 description'],
      dtype='object')

Data types of each column:
Article id                                  int64
Svenskt biografiskt lexikon (SBL): URI     object
Type of article                            object
SBL volume number                         float64
Page number in volume                     float64
Surname                                    object
Given name                                 object
Gender                                     object
Occupation, royal title, rank              object
Prefix to year of birth                    object
Year of birth                              object
Month of birth                            float64
Day of birth                              float64
Place of birth                             object
Comment on place of birth                  object
Place of birth (physical location)         object
Prefix to year of death                    object
Year of death                              object
Month of death                            float64
Day of death                              float64
Place of death                             object
Comment on place of death                  object
Place of death (physical location)         object
Id of main article                        float64
Curriculum vitae                           object
Archive                                    object
Printed works                              object
Sources                                    object
Article author                             object
Image file 1                               object
Image 1 description                        object
Image file 2                               object
Image 2 description                        object
Image file 3                               object
Image 3 description                        object
Image file 4                               object
Image 4 description                        object
Image file 5                               object
Image 5 description                        object
Image file 6                               object
Image 6 description                        object
Image file 7                               object
Image 7 description                        object
Image file 8                               object
Image 8 description                        object
Image file 9                               object
Image 9 description                        object
dtype: object
Data has been downloaded, loaded into pandas, and saved as SBL_2023_local.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9406 entries, 0 to 9405
Data columns (total 47 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Article id                              9406 non-null   int64
 1   Svenskt biografiskt lexikon (SBL): URI  9406 non-null   object
 2   Type of article                         9406 non-null   object
 3   SBL volume number                       9405 non-null   float64
 4   Page number in volume                   9404 non-null   float64
 5   Surname                                 9406 non-null   object
 6   Given name                              8949 non-null   object
 7   Gender                                  9406 non-null   object
 8   Occupation, royal title, rank           7604 non-null   object
 9   Prefix to year of birth                 53 non-null     object
 10  Year of birth                           7620 non-null   object
 11  Month of birth                          6465 non-null   float64
 12  Day of birth                            6441 non-null   float64
 13  Place of birth                          6692 non-null   object
 14  Comment on place of birth               1581 non-null   object
 15  Place of birth (physical location)      18 non-null     object
 16  Prefix to year of death                 190 non-null    object
 17  Year of death                           7637 non-null   object
 18  Month of death                          6776 non-null   float64
 19  Day of death                            6718 non-null   float64
 20  Place of death                          6811 non-null   object
 21  Comment on place of death               1558 non-null   object
 22  Place of death (physical location)      148 non-null    object
 23  Id of main article                      6 non-null      float64
 24  Curriculum vitae                        8299 non-null   object
 25  Archive                                 6200 non-null   object
 26  Printed works                           6807 non-null   object
 27  Sources                                 9162 non-null   object
 28  Article author                          8788 non-null   object
 29  Image file 1                            6466 non-null   object
 30  Image 1 description                     5881 non-null   object
 31  Image file 2                            234 non-null    object
 32  Image 2 description                     225 non-null    object
 33  Image file 3                            112 non-null    object
 34  Image 3 description                     101 non-null    object
 35  Image file 4                            70 non-null     object
 36  Image 4 description                     65 non-null     object
 37  Image file 5                            49 non-null     object
 38  Image 5 description                     48 non-null     object
 39  Image file 6                            34 non-null     object
 40  Image 6 description                     37 non-null     object
 41  Image file 7                            26 non-null     object
 42  Image 7 description                     27 non-null     object
 43  Image file 8                            24 non-null     object
 44  Image 8 description                     24 non-null     object
 45  Image file 9                            17 non-null     object
 46  Image 9 description                     21 non-null     object
dtypes: float64(7), int64(1), object(39)
memory usage: 3.4+ MB

In [27]:
def inspect_column_values(df, column_name):
    # Check if the specified column exists
    if column_name in df.columns:
        # Get the counts of unique values in the specified column
        value_counts = df[column_name].value_counts()
        
        # Convert the Series to a DataFrame for better display
        value_counts_df = value_counts.reset_index()
        value_counts_df.columns = [column_name, 'Number of Occurrences']
        
        return value_counts_df
    else:
        print(f"The column '{column_name}' does not exist in the DataFrame.")
        return None

def inspect_top_column_values(df, column_name, top_n):
    value_counts_df = inspect_column_values(df, column_name)
    if value_counts_df is not None:
        # Display the top 'n' values
        top_value_counts_df = value_counts_df.head(top_n)
        print(f"Top {top_n} counts of unique values in '{column_name}' column:")
        print(top_value_counts_df)

In [28]:
# Check if the column "Prefix to year of birth" exists
column_name = 'Prefix to year of birth'
inspect_top_column_values(df, column_name,100)

Counts of unique values in 'Prefix to year of birth' column:
       Prefix to year of birth  Number of Occurrences
0                      omkring                     18
1                  troligen pĺ                     10
2                     troligen                      6
3                         omkr                      3
4                       senast                      3
5                    senast ca                      1
6                  i början av                      1
7                     enl uppg                      1
8                      Omkring                      1
9                        efter                      1
10                   slutet av                      1
11                        trol                      1
12          troligen senast pĺ                      1
13  troligen senare hälften av                      1
14              senast omkring                      1
15                   mitten av                      1
16                        före                      1
17                     1164/67                      1

In [29]:
column_name = 'Prefix to year of death'
inspect_top_column_values(df, column_name,100)

Counts of unique values in 'Prefix to year of death' column:
   Prefix to year of death  Number of Occurrences
0                 tidigast                     35
1                 levde pĺ                     26
2                   senast                     25
3                  omkring                     24
4                 troligen                     20
5                    efter                     12
6                     före                      8
7                    levde                      7
8               levde ännu                      6
9            troligen före                      3
10                  mellan                      3
11                    omkr                      2
12              kort efter                      2
13           levde omkring                      2
14               början av                      1
15              levde omkr                      1
16          senast omkring                      1
17          levde troligen                      1
18        tidigast omkring                      1
19         verksam omkring                      1
20                levde ca                      1
21               slutet av                      1
22    troligen i början av                      1
23       levde möjligen pĺ                      1
24     levde troligen ännu                      1
25             i början av                      1
26                möjligen                      1
27               sannolikt                      1
28          senast 30 juni                      1

In [30]:
column_name = 'Type of article'
inspect_top_column_values(df, column_name,10)

Counts of unique values in 'Type of article' column:
  Type of article  Number of Occurrences
0  Person article                   7652
1  Family article                   1754

### odd SBL Volume number 0

In [34]:
column_name = 'SBL volume number'
inspect_top_column_values(df, column_name,4)

Counts of unique values in 'SBL volume number' column:
    SBL volume number  Number of Occurrences
0                16.0                    433
1                17.0                    412
2                18.0                    399
3                21.0                    391
4                19.0                    385
5                20.0                    371
6                22.0                    351
7                23.0                    345
8                24.0                    333
9                25.0                    323
10                1.0                    320
11                2.0                    311
12               11.0                    281
13                3.0                    268
14               27.0                    267
15               29.0                    267
16                6.0                    263
17               26.0                    262
18               13.0                    259
19               28.0                    258
20                7.0                    253
21               12.0                    235
22                5.0                    224
23                4.0                    224
24               34.0                    212
25               30.0                    211
26               14.0                    204
27               15.0                    199
28                9.0                    186
29               32.0                    186
30                8.0                    184
31               31.0                    184
32               33.0                    180
33               10.0                    141
34               35.0                     83

In [35]:
column_name = 'Page number in volume'
inspect_top_column_values(df, column_name,40)

Counts of unique values in 'Page number in volume' column:
     Page number in volume  Number of Occurrences
0                      1.0                     44
1                    209.0                     24
2                    301.0                     22
3                     23.0                     21
4                    589.0                     20
..                     ...                    ...
797                  797.0                      2
798                  800.0                      1
799                  801.0                      1
800                  799.0                      1
801                  804.0                      1

[802 rows x 2 columns]

In [21]:
def inspect_top_column_values(df, column_name, top_n):
    value_counts_df = inspect_column_values(df, column_name)
    if value_counts_df is not None:
        # Display the top 'n' values
        top_value_counts_df = value_counts_df.head(top_n)
        print(f"Top {top_n} counts of unique values in '{column_name}' column:")
        print(top_value_counts_df)

In [23]:
# Specify the column name to inspect
column_name = 'Surname'
top_n = 40  # Number of top values to display
    
# Call the function with the DataFrame and column name
inspect_top_column_values(df, column_name, top_n)

Counts of unique values in 'Surname' column:
                     Surname  Number of Occurrences
0                    Nilsson                     55
1                   Svensson                     44
2                  Johansson                     43
3                      Ekman                     37
4                       Berg                     28
...                      ...                    ...
4703                 Murberg                      1
4704                  Hjärre                      1
4705                  Hjörne                      1
4706                    Hoas                      1
4707  Bure och Bureus, släkt                      1

[4708 rows x 2 columns]

In [38]:
column_name = "Curriculum vitae"
inspect_top_column_values(df, column_name, 100)

Counts of unique values in 'Curriculum vitae' column:
                                       Curriculum vitae  Number of Occurrences
0                                                                          724
1     7. Fredrik von Essen, [a:15503:den föregĺendes...                      1
2     Eugénie (Charlotta Eugénie Augusta Amalia Albe...                      1
3     Eugen Napoleon Nicolaus, Sveriges (till 1905 ä...                      1
4     Eufemia Eriksdotter, svensk prinsessa, f. omkr...                      1
...                                                 ...                    ...
7571  Lindvall, Carl August, f 14 dec 1829 i Karlskr...                      1
7572  Lindström, Nils Ĺke Johannes, f 13 (enl fb 3) ...                      1
7573  Lindström, Gustaf Hilding Sigfrid, f 19 april ...                      1
7574  Lindström, Gustaf Rune, f 28 april 1916 i Väst...                      1
7575  Söderberg, Hjalmar Emil Fredrik, f 2 jun 1869 ...                      1

[7576 rows x 2 columns]